.hero-section {
  color: white;
  position: relative;
  z-index: 1;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 3rem 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: white;
}

.hero-text span {
  color: #00e5ff;
}

.hero-text p {
  font-size: 1.2rem;
  color: #ddd;
}
